apiVersion: karpenter.sh/v1
kind: NodePool
metadata:
  name: ${name}
spec:
  template:
    metadata:
      labels:
        ${pool_label_key}: ${pool_label_value}
    spec:
      nodeClassRef:
        group: eks.amazonaws.com
        kind: NodeClass
        name: ${nodeclass_ref}
%{ if add_taint ~}
      taints:
        - key: ${taint_key}
          value: ${taint_value}
          effect: ${taint_effect}
%{ endif ~}
